:focus {
    outline: none;
}

body {
  background-color: #DDD;
}

h1, label {
  color: #515151;
}

.consoleInput {
  color: #fff!important;
  background-color: #303030!important;
}

button {
  background-color: #13C487;
  color: #FFF;
  border-radius: 20px;
  display: inline-block;
  width: 125px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
  padding: 0 10px;
  float: left;
  border: none!important;
  box-sizing: none!important;
}

div.colStyle {
  padding: 15px 0 0 0;
}

.iframeContent {
  height: 1000px;
  width:100%;
}

div.colConsole>pre {
  overflow: auto;
  color: #FFF;
  background-color: #303030;
}
