<div class="module firebaseecommerce" ng-controller="firebaseecommerceController">
  <div class='iframeLoading' ng-if="isBusy">
    <div class='transitionloader'>
    </div>
  </div>
  <koa-item ng-if="showDataError">
    <span translate>firebase-connection-error</span>
  </koa-item>
  <div id="listContainer" ng-if="!isBusy">
    <koa-item ng-if="showEmptyDatabase">
      <span translate>firebase-database-empty</span>
    </koa-item>
    <a href="#{{ item.url }}" class="click-{{ item.name }}" ng-repeat="item in items | filter:searchQuery track by $index" ng-if="!showDataError">
      <koa-card image= "{{ item.images[0] }}" class= "itemCards {{ item.name }}" heading="{{ item.name }}">
        <div class="card-content">
          <div class="itemPrice">
            <span class="price-{{ item.name }}">{{ item.price }}</span>
            <span class="currency-{{ item.name }}">{{ item.currencySymbol }}</span>
          </div>
        </div>
      </koa-card>
    </a>

  </div>
</div>
