body {
  font-family: 'Helvetica-light'!important;
  font-size: 16px!important;
}

i {
  color: #333;
  cursor: pointer;
}

i:hover {
  color: #337AB7;
}

.topContainer {
  margin-top: 30px;
}

.editContainer {
  margin: 30px 0;
}

.noItemsInBD {
  width: 100%;
  height: 100%;
  position: relative;
}

.noDataInBD>p{
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 37px;
  margin: 140px 0;
  color: #13C487;
}

.dbErrarContainer {
  margin: 50px auto;
}

.dbErrorConnection {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}

.dbErrorConnection>p {
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 37px;
  color: #13C487;
}

img.imgSelected, div.imgSelected {
  margin-right: 10px!important;
}

.imgDiv {
  margin-top: 10px;
}

.btn-left {
  margin-right: 25px;
}

.buttonRow {
  height: 50px;
  padding: 10px 20px 0 0;
}

.fa-icons {
  padding-left: 27px!important;
}

.fa-icons > i {
  cursor: pointer;
}

.table>tbody>tr>th:first-child {
  text-align: center;
}

td:not(.imgList) {
  padding-top: 20px!important;
}

td.imgList>a>div, td.imgList>div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px #ddd solid;
}

div.imgList {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
  margin-top:5px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px #ddd solid;
}

div.imgList:hover {
  background-image: url(../images/delete.png)!important;
  background-color: #ddd!important;
}

.loadingView {
  position: fixed;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  bottom: 0;
}

.loadingView .spinner {
  width: 192px;
  height: 192px;
  background-image: url("../images/ring-alt.svg");
  position: absolute;
  top: 45%;
  left: calc(50% - (192px / 2));
}

div.h1Row {
  margin-top: 20px;
}
