<koapp-page-loader></koapp-page-loader>
<div class="container editContainer">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/items" id="itemsButton">{{ 'edit-breadcrumb-products' | translate }}</a></li>
        <li class="breadcrumb-item active" id="locationBreadcrumb">{{ locationState }}</li>
      </ol>
    </div>
    <div class="col-md-3 col-md-offset-1 col-xs-12">
      <button id="cancelButton" class="btn-left btn btn-danger" ng-click="(goTo('/items'))">{{ 'edit-button-cancel' | translate }}</button>
      <button id="saveButton" class="btn btn-success" ng-click="pushData()">{{ 'edit-button-save' | translate }}</button>
    </div>
  </div>

  <div class="container topContainer">
    <div class="row">
      <div class="col-md-12" ng-show="actionCompleted">
        <div class="alert alert-success">
          <strong id="successSave">{{ successAction }}</strong>
        </div>
      </div>
      <div class="col-md-12" ng-show="actionFailed">
        <div class="alert alert-danger">
          <strong>{{ errorSlug }}</strong>
        </div>
      </div>
      <div class="col-md-12" ng-show="errorValidation">
        <div class="alert alert-danger">
          <strong id="errorVal">{{ errorSlug }}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>{{ 'edit-title-details' | translate }}</h3>
    </div>
    <div class="col-md-9">
      <form class="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error' : dataErrors.name}">
              <label for="inputName">{{ 'edit-label-name' | translate }}</label>
              <input ng-model="dataItem.name" type="text" class="form-control nameInput" id="name-{{ dataItem.name }}">
              <span id="helpBlock" class="help-block">{{ 'edit-helper-name' | translate }}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error' : dataErrors.category}">
              <label for="inputCategory">{{ 'edit-label-category' | translate }}</label>
              <input ng-model="dataItem.category" type="text" class="form-control catInput" id="cat-{{ dataItem.name }}">
              <span id="helpBlock" class="help-block">{{ 'edit-helper-category' | translate }}"</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error' : dataErrors.description}">
              <label for="inputCategory">{{ 'edit-label-description' | translate }}</label>
              <textarea ng-model="dataItem.description" class="form-control descInput" rows="3" id="desc-{{ dataItem.name }}"></textarea>
              <span id="helpBlock" class="help-block">{{ 'edit-helper-description' | translate }}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-xs-12">
            <div class="form-group">
              <label id="chooseImg" class="btn btn-primary btn-file">
                {{ 'edit-label-image' | translate }}<input id="imageInput" type="file" ng-model="dataItem.images" accept="image/*" multiple app-filereader class="hidden">
              </label>
            </div>
          </div>
          <div class="col-md-9 col-xs-12" ng-if="dataItem.images!=null">
            <button id="deleteImagesBtn" ng-click="dataItem.images=null" class="btn btn-warning">{{ 'edit-delete-images' | translate }}</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span ng-class="{'text-danger' : dataErrors.images, 'text-warning' : !dateErrors.images}">{{ 'edit-helper-image' | translate }}</span>
          </div>
        </div>
        <div class="row imgDiv">
          <div class="col-md-12 imgDiv">
            <div ng-repeat="image in dataItem.images track by $index + image" class="col-md-3 imgList imgSelected" ng-style="{'padding':'0px', 'background-image':'url({{image}})'}" ng-click="delItem($index)" id="{{ dataItem.name }}-{{ $index }}"></div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>{{ 'edit-title-inventory' | translate }}</h3>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form-group" ng-class="{'has-error' : dataErrors.price}">
            <label for="inputPrice">{{ 'edit-label-price' | translate }}</label>
            <input type="number" ng-model="dataItem.price" class="form-control priceInput" id="price-{{ dataItem.name }}">
            <span id="helpBlock" class="help-block">{{ 'edit-helper-price' | translate }}</span>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <label for="inputCurrency">{{ 'edit-label-currency' | translate }}</label>
            <select class="form-control" ng-model="dataItem.currencySymbol" id="currency-{{ dataItem.name }}">
              <option value="$">$</option>
              <option value="€">€</option>
            </select>
          </div>
          <span id="helpBlock" class="help-block">{{ 'edit-helper-currency' | translate }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-12" ng-class="{'has-error' : dataErrors.sku}">
          <div class="form-group">
            <label for="inputSku">{{ 'edit-label-sku' | translate }}</label>
            <input ng-if="dataItem.$id" disabled ng-model="dataItem.sku" type="text" class="form-control" id="sku-{{ dataItem.name }}">
            <input ng-if="!dataItem.$id" ng-model="dataItem.sku" type="text" class="form-control skuInput" id="sku-{{ dataItem.name }}">
            <span id="helpBlock" class="help-block">{{ 'edit-helper-sku' | translate }}</span>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="form-group" ng-class="{'has-error' : dataErrors.taxes}">
            <label for="inputTaxes">{{ 'edit-label-taxes' | translate }}</label>
            <input ng-model="dataItem.taxes" type="number" class="form-control taxesInput" id="taxes-{{ dataItem.name }}">
            <span id="helpBlock" class="help-block">{{ 'edit-helper-taxes' | translate }}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
