<koapp-page-loader></koapp-page-loader>

<div class="container itemContainer" ng-if="translateLoaded">

  <div class="container dbErrarContainer">
    <div class="row" ng-if="showDataError">
      <div class="dbErrorConnection col-md-12">
        <p id="firebaseError">{{ 'firebase-connection-error' | translate }}</p>
      </div>
    </div>
  </div>

  <div ng-if="!showDataError">

    <div class="container-fluid topContainer">

      <div class="row">
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation" class="active"><a href="#/items">{{ 'items-menu-items' | translate }}</a></li>
          <li role="presentation"><a id="goToSalesView" href="#/sales">{{ 'items-menu-sales' | translate }}</a></li>
        </ul>
      </div>

      <div class="row h1Row">
        <div class="col-md-12">
          <h1 id="itemsTitle">{{ 'items-h1-title' | translate }}</h1>
        </div>
      </div>
    </div>

    <div class="container topContainer">
      <div class="row">
        <div class="col-md-12" ng-show="deletionIsOk">
          <div class="alert alert-success">
            <strong id="successSave">{{ 'items-alert-success' | translate }}</strong>
          </div>
        </div>
        <div class="col-md-12" ng-show="deletionIsKo">
          <div class="alert alert-warning">
            <strong>{{ 'items-alert-warning' | translate }}</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="container buttonContainer">
      <div class="row buttonRow">
        <div class="col-md-12 col-xs-12">
          <button class="btn btn-primary" id="btnAddItem" ng-click="goTo('/add')">{{ 'items-button-addItem' | translate }}</button>
        </div>
      </div>
    </div>

    <div class="container" ng-show="noItems">
      <div class="row">
        <div class="col-md-12 noDataInBD">
          <p>{{ 'items-noitems' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="container topContainer" ng-show="itemsLoaded">
      <table class="table table-striped table-hover">
        <tr>
          <th>{{ 'items-table-img' | translate }}</th>
          <th>{{ 'items-table-name' | translate }}</th>
          <th>{{ 'items-table-sku' | translate }}</th>
          <th>{{ 'items-table-category' | translate }}</th>
          <th>{{ 'items-table-price' | translate }}</th>
          <th>{{ 'items-table-edit' | translate }}</th>
          <th>{{ 'items-table-delete' | translate }}</th>
        </tr>
        <tr ng-repeat="item in itemList">
          <td class="imgList">
            <a class="goEdit-{{ item.name }}" href="#/edit/{{ item.$id }}">
              <div class="url-{{ item.name }}" ng-style="{'background-image':'url({{ item.images[0] }})'}"></div>
            </a>
          </td>
          <td class="name-{{ item.name }}" >{{ item.name }}</td>
          <td class="sku-{{ item.name }}" >{{ item.sku }}</td>
          <td class="cat-{{ item.name }}" >{{ item.category }}</td>
          <td class="price-{{ item.name }}" >{{ item.price }}{{ item.currencySymbol }}</td>
          <td class="fa-icons">
            <a class="edit-{{ item.name }}" href="#/edit/{{ item.$id }}"><i class="fa fa-pencil-square-o"></i></a>
          </td>
          <td class="fa-icons">
            <i ng-click="keepItem(item.$id)" data-toggle="modal" data-target="#deleteSafe" class="fa fa-trash delete-{{ item.name }}"></i>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>

<div class="modal fade" id="deleteSafe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="closeDelete" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ 'items-delete-warning' | translate }}</h4>
      </div>
      <div class="modal-body">
        {{ 'items-delete-question' | translate }}
      </div>
      <div class="modal-footer">
        <button id="cancelDelete" type="button" class="btn btn-default" data-dismiss="modal">{{ 'items-delete-cancel' | translate }}</button>
        <button id="confirmDelete" type="button" ng-click="deleteItem(idSelected)" class="btn btn-primary">{{ 'items-delete-confirm' | translate }}</button>
      </div>
    </div>
  </div>
</div>
