<koapp-page-loader></koapp-page-loader>
<div class="container itemContainer" ng-if="translateLoaded">
  <div class="container-fluid topContainer">
    <div class="row">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a id="goToItemsView" href="#/items">{{ 'sales-menu-items' | translate }}</a></li>
        <li role="presentation" class="active"><a href="#/sales">{{ 'sales-menu-sales' | translate }}</a></li>
      </ul>
    </div>

    <div class="row h1Row">
      <div class="col-md-12">
        <h1 id="salesTitle">{{ 'sales-h1-title' | translate }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-show="noSales">
  <div class="row">
    <div class="col-md-12 noDataInBD">
      <p>{{ 'sales-nosales' | translate }}</p>
    </div>
  </div>
</div>

<div class="container topContainer" ng-show="salesLoaded">
  <table class="table table-striped table-hover">
    <tr>
      <th>{{ 'sales-table-img' | translate }}</th>
      <th>{{ 'sales-table-sku' | translate }}</th>
      <th>{{ 'sales-table-name' | translate }}</th>
      <th>{{ 'sales-table-date' | translate }}</th>
      <th>{{ 'sales-table-price' | translate }}</th>
    </tr>
    <tr ng-repeat="sale in saleList">
      <td class="imgList">
        <div ng-style="{'background-image':'url({{ sale.image }})'}"></div>
      </td>
      <td>{{ sale.sku }}</td>
      <td class="name-{{ sale.name }}">{{ sale.name }}</td>
      <td>{{ sale.date }}</td>
      <td>{{ sale.price }}{{ sale.currencySymbol }}</td>
    </tr>
  </table>
</div>
